<!-- Metatags -->
meta(name="language" content="pt-br")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset="utf-8")
meta(name="contact" content="junior.milson17@gmail.com")
meta(name="author" content="Milson Júnior")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=pages[page].description)
meta(name="keywords" content=pages[page].keywords)
meta(name="robots" content="index, follow")

<!-- Facebook / Open Graph -->
meta(property="fb:app_id" content="")
meta(property="og:title" content=pages[page].title)
meta(property="og:description" content=pages[page].description)
meta(property="og:site_name" content=pages[page].sitename)
meta(property="og:type" content="website")
meta(property="og:url" content="")
meta(property="og:image" content="")

<!-- Twitter / Open Graph -->
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@project")
meta(name="twitter:title" content=pages[page].title)
meta(name="twitter:description" content=pages[page].description)
meta(name="twitter:image" content="")

<!-- Google+ / Schema.org -->
meta(itemprop="name" content="")
meta(itemprop="description" content=pages[page].description)
meta(itemprop="image" content="")

<!-- Favicon -->
link(rel="apple-touch-icon" sizes="57x57" href=root+"assets/images/favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href=root+"assets/images/favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href=root+"assets/images/favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href=root+"assets/images/favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href=root+"assets/images/favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href=root+"assets/images/favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href=root+"assets/images/favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href=root+"assets/images/favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href=root+"assets/images/favicon/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192"  href=root+"assets/images/favicon/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href=root+"assets/images/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href=root+"assets/images/favicon/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href=root+"assets/images/favicon/favicon-16x16.png")
link(rel="manifest" href=root+"assets/images/favicon/manifest.json")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")

link(rel="canonical" href="")
